

<hgroup class="title">
    <h2>
        Surfujemy w górę i w dół po grzywach wykresów kontraktów terminowych 
        <b><i>Futures</i></b>
    </h2>
</hgroup>

<aside>
    <br />
    <br />
    @CompanyTexts.FutureParagraph1
</aside>

<article>
    <hgroup class="title">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>@CompanyTexts.AboutMessage</h2>
        <br />
    </hgroup>
    @CompanyTexts.AboutParagraph0
</article>